.form_wrapper {
    background-color: #2a2d31 !important;
}

#login_logo {
    width: 100%;
    margin: 3% 0;
    text-align: center;
    font-size: 10rem;
    background: -webkit-linear-gradient(-45deg, #0062cc, #007bff, #4da3ff);
    background-size: 400% 400%;
    animation: heart-beat 3s infinite, gradient 15s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submit_btn {
    flex-basis: 30%;
    margin: 3% 50%;
}

#flex_form label {
    color: #dcddde;
    font-weight: 300 !important;
}

#flex_form .form__field, #flex_form label {
    flex-basis: 55% !important;
}

.field_wrapper {
    flex-basis: 55% !important;
}

.field_wrapper i {
    background-color: #fff;
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}