.form_wrapper {
    background-color: #2a2d31 !important;
}

#login_logo {
    width: 100%;
    margin: 3% 0;
    text-align: center;
    font-size: 10rem;
    background: -webkit-linear-gradient(-45deg, #ffe000, #ba8b02, #181818);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submit_btn {
    flex-basis: 30%;
    margin: 3% 50%;
}

#flex_form label {
    color: #dcddde;
    font-weight: 300 !important;
}

#flex_form .form__field, #flex_form label {
    flex-basis: 55% !important;
}