.form_wrapper {
    flex-basis: 51%;
    padding: 3%;
}

.form_wrapper #flex_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form_wrapper .form__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

.form__field, #flex_form label, .form__textarea {
    flex-basis: 70%;
}

.field_wrapper {
    flex-basis: 70%;
    display: flex;
}

.field_wrapper .form__field {
    flex-grow: 1;
    border-radius: 0 5px 5px 0;
    font-size: 1.15rem;
}

.field_wrapper i {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    background-color: white;
}

.form__checkfield {
    flex-basis: 20%;
    outline: none;
    margin-top: 2%;
    margin-bottom: 0.5rem;
}

#flex_form label {
    margin-top: 2%;
    font-weight: bold;
}

.form__submit {
    flex-basis: 31%;
    margin: 3%;
    border: none;
    outline: none;
}

.form__field--dark, .form__textarea--dark {
    background-color: #40444b;
    color: #dcddde;
    text-align: center !important;
    text-align-last: center;
    border: none;
    outline: none;
}

.form__field--dark:focus, .form__textarea--dark:focus {
    background-color: #40444b;
    color: #dcddde;
}

.form__textarea {
    resize: none;
    height: 100px !important;
}
