body {
    background-color: #36393f;
}

.form_wrapper {
    background-color: #2a2d31;
}

.form__title {
    color: #dcddde;
}

#flex_form label {
    color: #dcddde;
    font-weight: 300;
}

#flex_form .form__submit {
    margin: 3% 50% 0 50%;
}

.alert {
    flex-basis: 60%;
}