{% extends 'standard_base_template.html' %}

{% block title %} Rewalidacja {% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gradient_anim.css' %}">
    <link rel="stylesheet" href="{% static 'css/fixed_settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/flex_form.css' %}">
    <link rel="stylesheet" href="{% static 'revalidation/css/index.css' %}">
{% endblock %}

{% block home_icon %}
    <a href="{% url 'revalidation:start' %}"><i class="fas fa-user-friends"></i></a>
{% endblock %}

{% block content %}
    <div class="form_wrapper">
        <form id="flex_form"
            action="{% url 'revalidation:start' %}"
            method="post"
            revalidation-students-url="{% url 'revalidation:load_revalidation_students' %}"
            novalidate>
            {% csrf_token %}
            {% for field in revalidation_lesson_form %}
                {% if field.name == 'topic' %}
                    {{ field.label_tag }}
                    {{ field }}
                    <a id="get_saved_topic" class="form__field" href="{% url 'base:saved_topics' %}">Wykorzystaj jeden z zapisanych (Kliknij tutaj)</a>
                {% elif field.name == 'comments' %}
                    {{ field.label_tag }}
                    <div class="comments_shortcut">
                        <button class="btn btn--light_blue" type="button" onclick="paste_ms_teams_formula(true)">MS Teams/Uczeń</button>
                        <button class="btn btn--blue" type="button" onclick="paste_ms_teams_formula(false)">MS Teams/Uczennica</button>
                        <button class="btn btn--dark_blue" type="button" onclick="paste_stacionary_class_formula()">Zajęcia stacjonarne</button>
                    </div>
                    {{ field }}
                {% else %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endif %}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <input class="form__submit btn btn-lg" type="submit" value="Oszczędź czas" onclick="show_loading_mask()">
        </form>
    </div>

    <div class="settings_wrapper">
        <div class="settings">
            <a href="{% url 'revalidation:settings' %}"><i class="fas fa-cogs"></i></a>
        </div>
    </div>

    {% include 'loading_page_mask.html' %}
{% endblock %}

{% block external_scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'revalidation/js/load_revalidation_students.js' %}"></script>
    <script src="{% static 'revalidation/js/index_gsap_animations.js' %}"></script>
    <script src="{% static 'revalidation/js/paste_ready_comment_formula.js' %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}
{% endblock %}
