{% extends 'standard_base_template.html' %}

{% block title %} Ustawienia {% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/flex_form.css' %}">
    <link rel="stylesheet" href="{% static 'individual/css/settings.css' %}">
{% endblock %}

{% block home_icon %}
    <a href="{% url 'revalidation:start' %}"><i class="fas fa-user-friends"></i></a>
{% endblock %}

{% block content %}
    {% include 'save_status_alert_template.html' %}

    <div class="form_wrapper">
        <h1 class="form__title">Dodaj ucznia</h1>
        <form id="flex_form" action="{% url 'revalidation:save_revalidation_student' %}" method="post">
            {% csrf_token %}
            {% include 'standard_form_template.html' with form=add_revalidation_student_form %}
            <input class="form__submit btn btn-lg btn-success" type="submit" value="Dodaj">
        </form>
    </div>
{% endblock %}

{% block external_scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'js/close_alert.js' %}"></script>
    <script src="{% static 'individual/js/settings_gsap_animations.js' %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}
{% endblock %}
