:root {
  --shadow-color: #bcaf77;
  --shadow-color-light: #eeebdd;
}

body {
	background-color: #222;
	font-family: 'Poppins';
}

#time_spared {
	flex-basis: 100%;
	margin: 0;
	padding: 2% 0;
	text-align: center;
	overflow: hidden;
	font-size: 8rem;
	font-weight: bold;
}

#time_spared .neon_text {
	width: 100%;
	background: linear-gradient(-45deg, #8E0E00, #1F1C18);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite, neon 3s infinite;
	overflow: hidden;
	padding: 2% 0;
	color: #eeebdd !important;
	font-size: 9rem !important;
}

#time_spared_label {
	flex-basis: 70%;
	font-size: 2rem;
	font-weight: 200;
	color: #dcddde;
	text-align: center;
}

.available_apps {
	flex-basis: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 4% 0;
}

.available_apps i {
	font-size: 4rem;
	color: #eee;
	transition: 0.4s;
}

.available_apps i:hover {
	font-size: 4.5rem;
	color: #fff;
}

.technologies_icons {
	color: #000;
}