body {
    background-color: #36393f;
}

.saved_topics {
    flex-basis: 80%;
    background-color: #2a2d31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%
}

.saved_topics table {
    flex-basis: 80%;
    text-align: center;
}

.pagination {
    flex-basis: 70%;
    justify-content: center;
    margin: 2% 0;
}

.step-links {
    flex-basis: 55%;
    text-align: center;
}

.step-links .current {
    color: #dcddde;
}

.step-links .first_page_link, .step-links .last_page_link {
    margin: 0 2%;
}

.next_page_link, .previous_page_link {
    margin: 0 1%;
}