{% extends 'standard_base_template.html' %}

{% block title %} Sukces {% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/end_of_work.css' %}">
{% endblock %}

{% block home_icon %}
    <a href="{% url 'base:main_nav' %}"><i class="fas fa-home"></i></a>
{% endblock %}

{% block content %}
    <div class="time_is_money">
        <i class="fas fa-money-bill-wave"></i>
        <i class="far fa-clock"></i>
        <i class="fas fa-money-bill-wave"></i>
    </div>
    <h1>Uzupełnianie zakończone. Masz wolne. Przynajmniej na chwilę. 😉</h1>
    {% if filename %}
        <h4>
            <i class="fas fa-file-csv"></i>
            Plik z Teams został zapisany w archiwum pod nazwą
            <span class="filename">{{ filename }}</span>.
        </h4>
    {% endif %}
{% endblock %}

{% block external_scripts %}
    {{ block.super }}
    <script src="{% static 'base/js/end_of_work_gsap_animations.js' %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}
{% endblock %}