{% extends '../standard_base_template.html' %}

{% block title %} Cześć {% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gradient_anim.css' %}">
    <link rel="stylesheet" href="{% static 'css/neon_text.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/main_nav.css' %}">
{% endblock %}

{% block content %}
    <h1 id="time_spared">
        <p class="neon_text">
            {% if has_spared_time %}
                {% if spared_time.days %}
                    {{ spared_time.days }}D
                {% endif %}

                {% if spared_time.hours %}
                    {{ spared_time.hours }}G
                {% endif %}

                {% if spared_time.minutes %}
                    {{ spared_time.minutes }}M
                {% endif %}

                {% if spared_time.seconds %}
                    {{ spared_time.seconds }}S
                {% endif %}
            {% else %}
                Tu widzisz oszczędzony czas.
            {% endif %}
        </p>
    </h1>
    <h3 id="time_spared_label">
        {%  if request.user.first_name|last == 'a' %}
            Tyle czasu już oszczędziłaś. Nie tylko czasu.
        {% else %}
            Tyle czasu już oszczędziłeś. Nie tylko czasu.
        {% endif %}
    </h3>
    <div class="available_apps">
        <a href="{% url 'individual:start' %}"><i class="fas fa-user-friends"></i></a>
        <a href="{% url 'filler:start' %}"><i class="fas fa-file-signature"></i></a>
    </div>
{% endblock %}

{% block back_to_main_nav_link %}

{% endblock %}

{% block external_scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'base/js/main_nav_gsap_animations.js' %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}
{% endblock %}
