{% extends 'standard_base_template.html' %}

{% block title %} Zapisane tematy {% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/saved_teacher_topics.css' %}">
{% endblock %}

{% block content %}
    <div class="filter_panel">

    </div>

    <div class="saved_topics">
        <table class="table table-light table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Temat</th>
              <th scope="col">Kategoria</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for topic in saved_topics %}
                <tr>
                  <td id="topic_{{ forloop.counter }}">{{ topic.topic }}</td>
                  <td>{{ topic.category.name }}</td>
                  <td>
                    <button tabindex="0"
                        class="copy_popover copy_btn btn btn-primary"
                        data-bs-toggle="popover"
                        data-bs-trigger="focus"
                        id="topic_btn_{{ forloop.counter }}"
                        onclick="copy_topic({{ forloop.counter }})">Kopiuj</button>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="first_page_link">
                    <i class="fas fa-backward"></i>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}" class="previous_page_link">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
            {% endif %}

            <span class="current">
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="next_page_link">
                    <i class="fas fa-chevron-circle-right"></i>
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="last_page_link">
                    <i class="fas fa-forward"></i>
                </a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block external_scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'base/js/show_copied_popover.js' %}"></script>
    <script src="{% static 'js/copy_to_clipboard.js' %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}

    function copy_topic(element_id) {
        topic = document.querySelector(`#topic_${element_id}`);
        topic_btn = document.querySelector(`#topic_btn_${element_id}`);
        copy_to_clipboard(topic);
        show_copied_popover(topic_btn);
    }


    gsap.timeline()
        .from('.saved_topics', { duration: 0.5, y: 200, opacity: 0, ease: "power1. out" });
{% endblock %}