{% extends 'standard_base_template.html' %}

{% block title %} Zapisane tematy {% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/flex_form.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/saved_teacher_topics.css' %}">
{% endblock %}

{% block content %}
    <div class="filter_panel">
        <div class="search_form form_wrapper">
            <form id="flex_form" method="get" action="{% url 'base:saved_topics' %}">
                <input
                        name="k"
                        id="{{ search_form.keyword.id_for_label }}"
                        type="text"
                        class="form-control form__field"
                        required>
                <input class="btn btn-info form__submit" type="submit" value="Szukaj">
            </form>
        </div>
    </div>

    <div class="saved_topics">
        {% if saved_topics|length != 0 %}
            <table class="table table-light table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Temat</th>
                  <th scope="col">Kategoria</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for topic in saved_topics %}
                    <tr class="topic">
                      <td id="topic_{{ forloop.counter }}">{{ topic.topic }}</td>
                      <td>{{ topic.category.name }}</td>
                      <td class="copy_topic_btn">
                        <button tabindex="0"
                            class="copy_popover copy_btn btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-trigger="focus"
                            id="topic_btn_{{ forloop.counter }}"
                            onclick="copy_topic({{ forloop.counter }})">Kopiuj</button>
                      </td>
                      <td class="delete_topic_btn">
                          <a class="btn btn-danger" href="{% url 'base:delete_topic' topic.id %}">Usuń</a>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
            {% if request.GET.k %}
                <h1 id="no_saved_topics">Nie znaleziono żadnego tematu.</h1>
            {% else %}
                 <h1 id="no_saved_topics">Aktualnie nie masz żadnych zapisanych tematów.</h1>
            {% endif %}
        {% endif %}
    </div>

    {% include 'basic_paginator.html' %}
{% endblock %}

{% block external_scripts %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'base/js/saved_teacher_topics_gsap_animations.js' %}"></script>
    <script src="{% static 'base/js/show_copied_popover.js' %}"></script>
    <script src="{% static 'js/copy_to_clipboard.js' %}"></script>
{% endblock %}

{% block script %}
    {{ block.super }}

    function copy_topic(element_id) {
        topic = document.querySelector(`#topic_${element_id}`);
        topic_btn = document.querySelector(`#topic_btn_${element_id}`);
        copy_to_clipboard(topic);
        show_copied_popover(topic_btn);
    }
{% endblock %}