{% extends 'standard_base_template.html' %}

{% block title %} Ustawienia {% endblock %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/flex_form.css' %}">
    <link rel="stylesheet" href="{% static 'filler/css/settings.css' %}">
{% endblock %}

{% block external_scripts %}
    {{ block.super }}
{% endblock %}

{% block home_icon %}
    <a href="{% url 'filler:start' %}"><i class="fas fa-file-signature"></i></a>
{% endblock %}

{% block content %}
    {% include 'save_status_alert_template.html' %}

    <div class="form_wrapper">
        <h1 class="form__title">Zmiana archiwum</h1>
        <form id="flex_form" action="{% url 'filler:update_file_settings' %}" method="post">
            {% csrf_token %}
            {% include 'standard_form_template.html' with form=archive_form %}
            <input class="form__submit btn btn-success" type="submit" value="Aktualizuj">
        </form>
    </div>

    <div class="form_wrapper">
        <h1 class="form__title">Vulcan</h1>
        <form id="flex_form" action="{% url 'filler:update_webdriver_settings' %}" method="post">
            {% csrf_token %}
            {% include 'standard_form_template.html' with form=webdriver_form %}
            <input class="form__submit btn btn-success" type="submit" value="Aktualizuj">
        </form>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}

    gsap.timeline()
        .delay(0.5)
        .from('.alert', {opacity: 0})
        .from('.form_wrapper', {opacity: 0, y: 200, stagger: 0.5, ease: "back.out(1.7)"})

    function close_alert(event) {
        gsap.to('.alert', {duration: 1 , xPercent: 100, opacity: 0})
        setTimeout(() => {
            document.querySelector('.alert').style.display = 'none';
        }, 1000)
    }
{% endblock %}