
body {
    background-color: #36393f;
    overflow-x: hidden;
}

#fill_attendance_form {
    flex-basis: 50%;
}

#fill_attendance_form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form_field, #fill_attendance_form form label {
    flex-basis: 70%;
}

#fill_attendance_form form label {
    margin-top: 2%;
    color: #dcddde;
    font-weight: bold;
}

/* To refactor */
label[for=id_file_not_loaded], label[for=id_is_double_lesson] {
    flex-basis: 50% !important;
    font-weight: 300 !important;
}

#fill_attendance_form #submit-btn {
    flex-basis: 31%;
    margin: 3%;
    border: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    outline: none;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

#fill_attendance_form .form_check {
    flex-basis: 20%;
    outline: none;
    margin-top: 2%;
    margin-bottom: 0.5rem;
}

#fill_attendance_form select,  #fill_attendance_form input[type='text'] {
    background-color: #40444b;
    color: #dcddde;
    text-align: center !important;
    text-align-last: center;
    border: none;
    outline: none;
}

#fill_attendance_form input[type='file'] {
    color: #dcddde;
}

label i {
    margin-left: 2%;
    font-size: 1.25rem;
    color: white;
}

.error {
    flex-basis: 70%;
    text-align: center;
    margin-top: 5px;
}

.settings_wrapper {
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.settings {
    padding: 1.5rem;
    border: none;
    border-radius: 50%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.settings a i {
    text-decoration: none;
    outline: none;
    font-size: 3.5rem;
    color: white;
}

.alert {
    flex-basis: 51%;
}

.alert i {
    float: right;
    cursor: pointer;
}

.technologies_icons i, .technologies_icons p {
    color: #2a2d31;
}

@keyframes gradient {
    0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

